<%= render partial: 'shared/header' %>
<%= render partial: 'shared/nav' %>
<div class="inner mypage-inner">
  <div class="mypage-container">
    <div class="mypage-sidebar">
      <div class="mypage-sidebar__nav-title">メニュー</div>
      <ul class="mypage-sidebar__nav-items">
        <%= link_to user_path(current_user) do %>
          <li>
            <i class="fas fa-home"></i><span>ホーム</span>
          </li>
        <% end %>
        <%= link_to "#" do %>
          <li>
            <i class="fas fa-pencil-alt"></i><span>レビュー</span>
          </li>
        <% end %>
        <%= link_to "#" do %>
          <li>
            <i class="fas fa-bookmark"></i><span>ブックマーク</span>
          </li>
        <% end %>
        <%= link_to "#" do %>
          <li class="sidebar-last-child">
            <i class="fas fa-calendar-alt"></i><span>イベント</span>
          </li>
        <% end %>
      </ul>
      <div class="mypage-sidebar__nav-title">アカウント管理</div>
      <ul class="mypage-sidebar__nav-items">
        <%= link_to edit_user_path(current_user) do %>
          <li>
            <i class="fas fa-user-circle"></i><span>プロフィール</span>
          </li>
        <% end %>
        <%= link_to "#" do %>
          <li>
            <i class="fas fa-envelope"></i><span>メールアドレス</span>
          </li>
        <% end %>
        <%= link_to edit_user_registration_path do %>
          <li class="sidebar-last-child">
            <i class="fas fa-lock"></i><span>パスワード</span>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="mypage-contents">
      <div class="mypage-contents__title">パスワード変更</div>
      <div class="mypage-contents__content">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <table>
              <tr>
                <th><%= f.label :current_password %> <i><br />(変更を確認するには、現在のパスワードが必要です)</i><br /></th>
                <td><%= f.password_field :current_password, autocomplete: "current-password" %></td>
              </tr>
              <tr>
                <th>
                  <%= f.label :新しいパスワード %>
                  <i>
                  <% if @minimum_password_length %><br />
                    <em>(<%= @minimum_password_length %> 文字以内)</em>
                  <% end %>
                  </i>
                </th>
                <td><%= f.password_field :password, autocomplete: "new-password" %></td>
              </tr>
              <tr>
                <th><%= f.label :新しいパスワード（確認用） %><br /></th>
                <td> <%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
              </tr>
            </table>
            <div class="actions">
              <%= f.submit "更新する" %>
            </div>
          </div>
        <% end %>

        <div class="destroy-btn"><%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除してもいいですか？" }, method: :delete %></div>

      </div>
    </div>
  </div>
</div>
<%= render partial: 'shared/footer' %>