<%= render partial: 'shared/header' %>
<%= render partial: 'shared/nav' %>
<div class="inner mypage-inner">
  <div class="mypage-container">
    <div class="mypage-sidebar">
      <div class="mypage-sidebar__nav-title">メニュー</div>
      <ul class="mypage-sidebar__nav-items">
        <%= link_to user_path(current_user) do %>
          <li>
            <i class="fas fa-home"></i><span>ホーム</span>
          </li>
        <% end %>
        <%= link_to "#" do %>
          <li>
            <i class="fas fa-pencil-alt"></i><span>レビュー</span>
          </li>
        <% end %>
        <%= link_to "#" do %>
          <li>
            <i class="fas fa-bookmark"></i><span>ブックマーク</span>
          </li>
        <% end %>
        <%= link_to "#" do %>
          <li class="sidebar-last-child">
            <i class="fas fa-calendar-alt"></i><span>イベント</span>
          </li>
        <% end %>
      </ul>
      <div class="mypage-sidebar__nav-title">アカウント管理</div>
      <ul class="mypage-sidebar__nav-items">
        <%= link_to edit_user_path(current_user) do %>
          <li>
            <i class="fas fa-user-circle"></i><span>プロフィール</span>
          </li>
        <% end %>
        <%= link_to email_user_path(current_user) do %>
          <li>
            <i class="fas fa-envelope"></i><span>メールアドレス</span>
          </li>
        <% end %>
        <%= link_to edit_user_registration_path do %>
          <li class="sidebar-last-child">
            <i class="fas fa-lock"></i><span>パスワード</span>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="mypage-contents">
      <div class="mypage-contents__title">プロフィール編集</div>
      <div class="mypage-contents__content">
        <%= form_with model: @user do |f| %>
          <table>
            <tr>
              <th>名前</th>
              <td><%= f.text_field :username %></td>
            </tr>
            <tr>
              <th>自己紹介</th>
              <td><%= f.text_field :username %></td>
            </tr>
            <tr>
              <th>写真</th>
              <td><%= f.text_field :username %></td>
            </tr>
          </table>
          <div><%= f.submit "更新する" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>