<%= render partial: 'shared/header' %>
<%= render partial: 'shared/nav' %>
<% if user_signed_in? && @user == current_user %>
<%= render 'shared/flash_messages' %>
<div class="inner mypage-inner">
  <div class="mypage-container">
    <div class="mypage-sidebar">
      <div class="mypage-sidebar__nav-title">メニュー</div>
      <ul class="mypage-sidebar__nav-items">
        <%= link_to user_path(current_user) do %>
          <li>
            <i class="fas fa-home"></i><span>ホーム</span>
          </li>
        <% end %>
        <%= link_to review_user_path(current_user) do %>
          <li>
            <i class="fas fa-pencil-alt"></i><span>レビュー</span>
          </li>
        <% end %>
        <%= link_to bookmark_user_path(current_user) do %>
          <li>
            <i class="fas fa-bookmark"></i><span>ブックマーク</span>
          </li>
        <% end %>
        <%= link_to events_path do %>
          <li class="sidebar-last-child">
            <i class="fas fa-calendar-alt"></i><span>イベント</span>
          </li>
        <% end %>
      </ul>
      <div class="mypage-sidebar__nav-title">アカウント管理</div>
      <ul class="mypage-sidebar__nav-items">
        <%= link_to edit_user_path(current_user) do %>
          <li>
            <i class="fas fa-user-circle"></i><span>プロフィール</span>
          </li>
        <% end %>
        <%= link_to edit_user_path(current_user) do %>
          <li>
            <i class="fas fa-envelope"></i><span>メールアドレス</span>
          </li>
        <% end %>
        <%= link_to edit_user_registration_path do %>
          <li class="sidebar-last-child">
            <i class="fas fa-lock"></i><span>パスワード</span>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="mypage-contents">
      <div class="mypage-contents__title">マイページ</div>
      <div class="user">
        <div class="user-image">
          <% if current_user.img.url.nil? %>
            <%= image_tag "no_image.png", height: "80px", width: "80px"%>
          <% else %>
            <%= image_tag current_user.img.url, height: "80px", width: "80px"%>
          <% end %>
          <h2><%= @user.username %></h2>
          <p><%= @user.profile %></p>
          <table>
            <tr>
              <th>投稿したレビュー</th>
              <td>
                <%= link_to review_user_path(current_user) do%>
                  <%= @review.count %>件
                <% end %>
              </td>
            </tr>
            <tr>
              <th>いいねしたレビュー</th>
              <td>
                <%= link_to like_user_path(current_user) do%>
                  <%= @like.count %>件
                <% end %>
              </td>
            </tr>
            <tr>
              <th>ブックマークした店</th>
              <td>
                <%= link_to bookmark_user_path(current_user) do%>
                  <%= @bookmark.count %>件
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
<div class="inner profile-inner">
  <div class="profile-container">
    <div class="profile-section1">
      <div class="profile-section1__title">
        <%= @user.username %>さんのプロフィール
      </div>
      <div class="user">
        <div class="user-image">
        <% if @user.img.url.nil? %>
            <%= image_tag "no_image.png", height: "100px", width: "100px"%>
          <% else %>
            <%= image_tag @user.img.url, height: "100px", width: "100px"%>
          <% end %>
        </div>
        <h2><%= @user.username %></h2>
        <p><%= @user.profile %></p>
      </div>
    </div>
    <div class="profile-section2">
      <div class="profile-section2__title">
        レビューした投稿
      </div>
      <div class="reviews">
        <% @reviews.each do |review| %>
          <div class="reviews-contents">
            <ul>
              <li>
                <%= link_to review_path(review) do%>
                  <div class="review-image"><%= image_tag review.images[0].url %></div>
                  <div class="review-show">
                    <h3><%= review.restaurant.name %>(<%= review.restaurant.prefecture.name %>)</h3>
                    <p class="review-subject"><%= review.title %></p>
                    <div id="star-rate-<%= review.id %>" class="star-rate"></div>
                    <script>
                    $('#star-rate-<%= review.id %>').raty({
                      size: 36,
                      starOff:  '<%= asset_path('star-off.png') %>',
                      starOn : '<%= asset_path('star-on.png') %>',
                      starHalf: '<%= asset_path('star-half.png') %>',
                      half: true,
                      readOnly: true,
                      score: <%= review.rate %>,
                    });
                    </script>
                    <p class="review-date"><%= review.created_at.strftime('%Y.%m.%d') %></p>
                    <p class="review-name"><%= review.user.username %>
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                      </svg>
                    </p>
                    <div class="user-image">
                      <% if @user.img.url.nil? %>
                        <%= image_tag "no_image.png", height: "60px", width: "60px"%>
                      <% else %>
                        <%= image_tag @user.img.url, height: "60px", width: "60px"%>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
    <% if @bookmarks.exists? %>
      <div class="profile-section3">
        <div class="profile-section3__title">
          ブックマークした店舗
        </div>
        <div class="bookmarks">
          <div class="bookmarks-contents">
            <ul>
              <% @bookmarks.each do |bookmark| %>
                <li>
                  <%= link_to "#" do%>
                    <%= image_tag bookmark.restaurant.img.url%>
                    <h3><%= bookmark.restaurant.name %></h3>
                    <p>(<%= bookmark.restaurant.reviews.count %>件のレビュー)</p>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% end %>
<%= render partial: 'shared/footer' %>