<footer class="footer">
  <div class="inner footer-inner">
    <ul class="footer-contents">
      <li class="footer-content">
        <h2 class="footer-content__title">Regyu.siteについて</h2>
        <ul>
          <li><%= link_to "#" do %>会社概要（運営会社）<% end %></li>
          <li><%= link_to "#" do %>Regyu.site利用規約<% end %></li>
          <li><%= link_to "#" do %>プライバシーポリシー<% end %></li>
        </ul>
      </li>
      <li class="footer-content">
        <h2 class="footer-content__title">Regyu.siteを見る</h2>
        <ul>
          <li><%= link_to "#" do %>レビュー一覧<% end %></li>
          <li><%= link_to "#" do %>店舗検索<% end %></li>
          <li><%= link_to "#" do %>ニュース<% end %></li>
        </ul>
      </li>
      <li class="footer-content">
        <h2 class="footer-content__title">ヘルプ＆ガイド</h2>
        <ul>
          <li><%= link_to "#" do %>Regyu.siteガイド<% end %></li>
          <li><%= link_to "#" do %>よくある質問<% end %></li>
          <li><%= link_to "#" do %>お問い合わせ<% end %></li>
        </ul>
      </li>
    </ul>
    <p>©︎Regyu.site</p>
  </div>
</footer>