<%= render partial: 'shared/header' %>
<%= render partial: 'shared/nav' %>
<div class="inner calender-inner">
  <div class="container">
    <div class="container-calender__new">
      <div class="container-calender__new-title">
        スケジュールを編集する
      </div>
      <div class="container-calender__new-contents">
        <%= form_with(model: @event, local: true) do |f| %>
          <table>
            <tr>
              <th>行く予定の店</th>
              <td><%= f.text_field :title %></td>
            </tr>

            <tr>
              <th>日程</th>
              <td><%= f.datetime_select :start_time, start_year: Date.today.year, datetime_separator: '<p>時間</p>',class: "form-control" %></td>
            </tr>

            <tr>
              <th>詳細</th>
              <td><%= f.text_area :content %></td>
            </tr>
          </table>
          <div class="submit">
            <%= f.submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'shared/footer' %>