<%= render partial: 'shared/header' %>
<%= render partial: 'shared/nav' %>
<div class="inner rank-inner">
  <div class="container">
    <div class="container-popular__section1">
      <div class="popular-rank__title">
        <i class="fas fa-fire"></i>人気焼肉店Best3
      </div>
      <div class="popular-rank__contents">
        <div class="popular-rank__content">
          <ul>
            <% @restaurants.first(3).each do |restaurant| %>
              <li>
                <%= link_to restaurant_path(restaurant) do%>
                  <%= image_tag restaurant.img.url%>
                  <h3><%= restaurant.name %>(<%= restaurant.prefecture.name %>)</h3>
                  <p>(<%= restaurant.reviews.count %>件のレビュー)</p>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-review__section2">
      <div class="review-person__title">
        <i class="fas fa-comments"></i>Regyuの投稿数が多いユーザーBest3
      </div>
      <div class="review-person__contents">
        <div class="review-person__content">
          <ul>
            <% @users.each do |user| %>
              <li>
                <%= link_to user_path(user) do%>
                  <div class="user-image">
                    <% if user.img.url.nil? %>
                      <%= image_tag "no_image.png", height: "160px", width: "160px"%>
                    <% else %>
                      <%= image_tag user.img.url, height: "160px", width: "160px"%>
                    <% end %>
                  </div>
                  <div class="user-name">
                    <h3><%= user.username %></h3>
                    <p>(<%= user.reviews.count %>件のレビュー)</p>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'shared/footer' %>