<%= render partial: 'shared/header' %>
<%= render partial: 'shared/nav' %>
<%= render 'shared/flash_messages' %>

  <main class="main">

    <div class="main-topic">
      <div class="main-topic__title">
        <h2>本気で美味しいお肉を追い求めて。</h2>
      </div>
    </div>
    <div class="main-inner">
      <h2 class="main-inner__title"><span>Regyu.site</span>とは？</h2>
      <p class="main-inner__sub">極上の牛肉を追い求める人の極上の牛肉を追い求める人のためのRegyu（review）を届ける</p>
      <ul class="main-inner__list">
        <li>
          <%= image_tag "review.jpg"%>
          <h3><span>本気</span>のレビュー</h3>
          <p>ユーザーがユーザーのためのレビューサイトのためリアルな口コミが見れる</p>
        </li>
        <li>
          <%= image_tag "牛.jpg"%>
          <h3><span>シンプル</span>な機能性</h3>
          <p>使いやすさを第一に考えた機能と操作</p>
        </li>
        <li>
          <%= image_tag "サーロイン.jpg"%>
          <h3><span>熱い</span>気持ち</h3>
          <p>焼肉への情熱だけは負けません！</p>
        </li>
      </ul>
    </div>

    <div class="second-topic">
      <div class="second-topic__img">
        <%= link_to users_guest_sign_in_path, method: :post do%>
          <button type="button" class="btn btn-light">お試しログイン
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
              <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>
          </button>
        <% end %>
      </div>
    </div>
    
    <div class="main-inner">
      <div class="container">
        <div class="container-rank">
          <div class="rank-title">
            <i class="fas fa-store"></i>人気の焼肉店
          </div>
          <div class="rank-contents">
            <div class="rank-content">
              <ul>
                <% @restaurants.first(3).each do |restaurant| %>
                  <li>
                    <%= link_to restaurant_path(restaurant) do%>
                      <%= image_tag restaurant.img.url%>
                      <h3><%= restaurant.name %>(<%= restaurant.prefecture.name %>)</h3>
                      <p>(<%= restaurant.reviews.count %>件のレビュー)</p>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-review">
          <div class="review-title">
            <i class="fas fa-pencil-alt"></i>最新のレビュー
          </div>
          <div class="review-contents">
            <div class="review-content">
              <ul>
                <% @reviews.each do |review| %>
                  <li>
                    <%= link_to review_path(review) do%>
                      <div class="review-image">
                        <% if review.images[0].nil? %>
                          <%= image_tag "no_image.png"%>
                        <% else %>
                          <%= image_tag review.images[0].url %>
                        <% end %>
                      </div>
                      <div class="review-show">
                        <h3><%= review.restaurant.name %></h3>
                        <p class="review-subject"><%= review.title.slice(0, 5) %>...|<%= review.rate %>点</p>
                        <p class="review-date"><%= review.created_at.strftime('%Y.%m.%d') %></p>
                        <p class="review-name"><%= review.user.username %>
                          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                          </svg>
                        </p>
                      </div>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
              <div class="more-review">
                <%= link_to reviews_path do %>
                  >>もっとレビューを見る
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
<%= render partial: 'shared/footer' %>