<%= render partial: 'shared/header' %>
<%= render partial: 'shared/nav' %>
<div class="inner reviews-inner">
  <div class="container">
    <div class="container-restaurants__search">
      <div class="restaurant-search__title">
        <i class="fas fa-store-alt"></i>店舗を追加する
      </div>
      <div class="restaurant-search__content">
      <%= link_to new_restaurant_path do%>
        <button type="button" class="btn btn-info">
          <i class="fas fa-edit"></i>追加する
        </button>
      <% end %>
        <p>レビューしたい店舗情報がない場合は、こちらから店舗の追加をお願いします。</p>
      </div>
    </div>
    <div class="container-reviews__section1">
      <div class="freeword-search__title">
        <i class="fas fa-file-alt"></i>フリーワードから探す
      </div>
      <div class="freeword-search__contents">
        <%= search_form_for @search do |f| %>
          <%= f.search_field :name_or_address_cont, placeholder: "地名・店名", class: 'input' %>
          <%= f.submit do %>
            <button type="submit" class="btn btn-primary">検索</button>
          <% end %>
          <%= link_to "リセット", reviews_path, class: "btn btn btn-link" %>
        <% end %>
      </div>
    </div>
    <div class="display-container">
      <div class="container-reviews__section2">
        <div class="area-search__title">
          <i class="fas fa-map-marked-alt"></i>エリアから探す
        </div>
        <div class="area-search__contents">
          <div class="region">
            <h3 class="region-title">北海道</h3>
            <ul class="region-select">
              <li class="region-select-item">
                <%= link_to "北海道", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>1}}%>
              </li>
            </ul>
          </div>
          <div class="region">
            <h3 class="region-title">東北</h3>
            <ul class="region-select">
              <li class="region-select-item">
                <%= link_to "青森県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>2}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "岩手県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>3}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "宮城県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>4}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "秋田県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>5}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "山形県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>6}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "福島県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>7}}%>
              </li>
            </ul>
          </div>
          <div class="region">
            <h3 class="region-title">関東</h3>
            <ul class="region-select">
              <li class="region-select-item">
                <%= link_to "茨城県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>8}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "栃木県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>9}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "群馬県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>10}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "埼玉県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>11}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "千葉県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>12}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "東京都", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>13}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "神奈川県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>14}}%>
              </li>
            </ul>
          </div>
          <div class="region">
            <h3 class="region-title">北陸・甲信越</h3>
            <ul class="region-select">
              <li class="region-select-item">
                <%= link_to "新潟県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>15}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "富山県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>16}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "石川県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>17}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "福井県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>18}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "山梨県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>19}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "長野県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>20}}%>
              </li>
            </ul>
          </div>
          <div class="region">
            <h3 class="region-title">東海</h3>
            <ul class="region-select">
              <li class="region-select-item">
                <%= link_to "岐阜県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>21}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "静岡県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>22}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "愛知県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>23}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "三重県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>24}}%>
              </li>
            </ul>
          </div>
          <div class="region">
            <h3 class="region-title">関西</h3>
            <ul class="region-select">
              <li class="region-select-item">
                <%= link_to "滋賀県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>25}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "京都府", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>26}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "大阪府", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>27}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "兵庫県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>28}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "奈良県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>29}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "和歌山県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>30}}%>
              </li>
            </ul>
          </div>
          <div class="region">
            <h3 class="region-title">中国</h3>
            <ul class="region-select">
              <li class="region-select-item">
                <%= link_to "鳥取県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>31}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "島根県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>32}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "岡山県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>33}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "広島県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>34}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "山口県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>35}}%>
              </li>
            </ul>
          </div>
          <div class="region">
            <h3 class="region-title">四国</h3>
            <ul class="region-select">
              <li class="region-select-item">
                <%= link_to "徳島県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>36}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "香川県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>37}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "愛媛県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>38}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "高知県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>39}}%>
              </li>
            </ul>
          </div>
          <div class="region">
            <h3 class="region-title">九州・沖縄</h3>
            <ul class="region-select">
              <li class="region-select-item">
                <%= link_to "福岡県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>40}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "佐賀県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>41}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "長崎県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>42}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "熊本県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>43}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "大分県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>44}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "宮崎県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>45}}%>
              </li>
              <li class="region-select-item">
                <%= link_to "鹿児島県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>46}}%>

              </li>
              <li class="region-select-item">
                <%= link_to "沖縄県", {:controller=>"restaurants",:action=>"index",:q=>{:prefecture_id_eq=>47}}%>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <%= render partial: 'browsing_histories/index' %>
    </div>
    <div class="container-restaurants__section1">
      <div class="restaurants-index__title">
        <i class="fas fa-store-alt"></i>店舗一覧
      </div>
      <div class="restaurants-index__contents">
        <div class="restaurant-index__content">
          <ul>
            <% if params[:q].present? %>
              <% @restaurant.each do |restaurant| %>
                <li>
                  <%= link_to restaurant_path(restaurant) do%>
                    <%= image_tag restaurant.img.url%>
                    <h3><%= restaurant.name %>(<%= restaurant.prefecture.name %>)</h3>
                    <p>(<%= restaurant.reviews.count %>件のレビュー)</p>
                  <% end %>
                </li>
              <% end %>
            <% else %>
              <% @restaurants.each do |restaurant| %>
                <li>
                  <%= link_to restaurant_path(restaurant) do%>
                    <%= image_tag restaurant.img.url%>
                    <h3><%= restaurant.name %>(<%= restaurant.prefecture.name %>)</h3>
                    <p>(<%= restaurant.reviews.count %>件のレビュー)</p>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <%= paginate @restaurants %>
    </div>
  </div>
</div>
<%= render partial: 'shared/footer' %>