<%= render partial: 'shared/header' %>
<%= render partial: 'shared/nav' %>
<div class="inner restaurant-inner">
  <div class="container">
    <div class="container-restaurant__add">
      <div class="restaurant-title">
        <i class="fas fa-store-alt"></i>店舗を登録する
      </div>
      <div class="restaurant-content">
        <%= form_with model: @restaurant do |f| %>
          <table>
            <tr>
              <th>店名</th>
              <td><%= f.text_field :name %></td>
            </tr>
            <tr>
              <th>都道府県</th>
              <td><%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"} %></td>
            </tr>
            <tr>
              <th>所在地</th>
              <td><%= f.text_field :address %></td>
            </tr>
            <tr>
              <th>電話番号</th>
              <td>
                <%= f.text_field :phone %>
              </td>
            </tr>
            <tr>
              <th>写真</th>
              <td><%= f.file_field :img %></td>
            </tr>
          </table>
          <div><%= f.submit "更新する" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'shared/footer' %>