<%= render partial: 'shared/header' %>
<%= render partial: 'shared/nav' %>
<div class="inner restaurant-inner">
  <div class="container">
    <div class="container-restaurant__detail">
      <div class="restaurant-detail">
        <div class="restaurant-detail__title">
          店舗情報
        </div>
        <div class="restaurant-detail__contents">
          <div class="restaurant-name">
            <h2><%= @restaurant.name %></h2>
          </div>
          <div class="restaurant-image">
            <%= image_tag @restaurant.img.url, height: "120px", width: "120px"%>
          </div>
          <table>
            <tr>
              <th>店名</th>
              <td><%= @restaurant.name %></td>
            </tr>
            <tr>
              <th>所在地</th>
              <td><%= @restaurant.address %></td>
            </tr>
            <tr>
              <th>電話番号</th>
              <td><%= @restaurant.phone %></td>
            </tr>
          </table>
          <div id='map'></div>
          <div class="bookmark">
            <button type="button" class="btn btn-primary"><i class="fas fa-bookmark"></i>ブックマークを登録する</button>
          </div>
        </div>
        <div class="container-reviews__section4">
          <div class="reviews__title">
            <i class="fas fa-pencil-alt"></i>この店舗の一覧レビュー
          </div>
          <div class="reviews__contents">
            <div class="review-content">
              <ul>
                <li>
                  <%= link_to "#" do%>
                    <div class="review-image"><%= image_tag "IMG_2620.JPG" %></div>
                    <div class="review-show">
                      <h3>にくや萬野</h3>
                      <p class="review-subject">レビューのタイトル<br>レビューのタイトル</p>
                      <p class="review-date">2020.01.01</p>
                      <p class="review-name">サンプルname
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                      </p>
                      <div class="user-image">
                        <%= image_tag "牛.jpg", height: "60px", width: "60px"%>
                      </div>
                    </div>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'shared/footer' %>

<style>#map {height: 600px;width: 600px;}</style>

<script>
let map

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.7828, lng:-73.9653},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmCsfDkHxJj89ULu_I4VuQ1fRYZx4HZCk&callback=initMap" async defer></script>