<%= render partial: 'shared/header' %>
<%= render partial: 'shared/nav' %>
<div class="inner reviews-inner">
  <div class="container">
    <div class="container-reviews__section1">
      <div class="freeword-search__title">
        <i class="fas fa-file-alt"></i>フリーワードから探す
      </div>
      <div class="freeword-search__contents">
        <%= form_with model: @review do |f| %>
          <%= f.text_field :name_cont, placeholder: "地名・店名", class: 'input' %>
          <button type="submit" class="btn btn-primary">検索</button>
        <% end %>
      </div>
    </div>
    <div class="display-container">
      <div class="container-reviews__section2">
        <div class="area-search__title">
          <i class="fas fa-map-marked-alt"></i>エリアから探す
        </div>
        <div class="area-search__contents">
          <div class="region">
            <h3 class="region-title">北海道</h3>
            <ul class="region-select">
              <li class="region-select-item">
                <%= link_to "#" do%>
                  北海道
                <% end %>
              </li>
            </ul>
          </div>
          <div class="region">
            <h3 class="region-title">東北</h3>
            <ul class="region-select">
              <li class="region-select-item">
                <%= link_to "#" do%>
                  青森県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  岩手県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  宮城県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  秋田県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  山形県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  福島県
                <% end %>
              </li>
            </ul>
          </div>
          <div class="region">
            <h3 class="region-title">関東</h3>
            <ul class="region-select">
              <li class="region-select-item">
                <%= link_to "#" do%>
                  茨城県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  栃木県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  群馬県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  埼玉県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  千葉県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  東京都
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  神奈川県
                <% end %>
              </li>
            </ul>
          </div>
          <div class="region">
            <h3 class="region-title">北陸・甲信越</h3>
            <ul class="region-select">
              <li class="region-select-item">
                <%= link_to "#" do%>
                  新潟県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  富山県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  石川県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  福井県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  山梨県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  長野県
                <% end %>
              </li>
            </ul>
          </div>
          <div class="region">
            <h3 class="region-title">東海</h3>
            <ul class="region-select">
              <li class="region-select-item">
                <%= link_to "#" do%>
                  岐阜県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  静岡県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  愛知県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  三重県
                <% end %>
              </li>
            </ul>
          </div>
          <div class="region">
            <h3 class="region-title">関西</h3>
            <ul class="region-select">
              <li class="region-select-item">
                <%= link_to "#" do%>
                  滋賀県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  京都府
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  大阪府
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  兵庫県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  奈良県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  和歌山県
                <% end %>
              </li>
            </ul>
          </div>
          <div class="region">
            <h3 class="region-title">中国</h3>
            <ul class="region-select">
              <li class="region-select-item">
                <%= link_to "#" do%>
                  鳥取県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  島根県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  岡山県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  広島県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  山口県
                <% end %>
              </li>
            </ul>
          </div>
          <div class="region">
            <h3 class="region-title">四国</h3>
            <ul class="region-select">
              <li class="region-select-item">
                <%= link_to "#" do%>
                  徳島県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  香川県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  愛媛県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  高知県
                <% end %>
              </li>
            </ul>
          </div>
          <div class="region">
            <h3 class="region-title">九州・沖縄</h3>
            <ul class="region-select">
              <li class="region-select-item">
                <%= link_to "#" do%>
                  福岡県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  佐賀県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  長崎県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  熊本県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  大分県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  宮崎県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  鹿児島県
                <% end %>
              </li>
              <li class="region-select-item">
                <%= link_to "#" do%>
                  沖縄県
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container-reviews__section3">
        <div class="lately-restaurants__title">
          <i class="fas fa-store-alt"></i>最近チェックした店
        </div>
        <div class="lately-restaurants__contents">
          <div class="lately-restaurant__item">
            <div class="lately-restaurant__name">にくや萬野（大阪府）</div>
          </div>
          <div class="lately-restaurant__item">
            <div class="lately-restaurant__name">にくや萬野（大阪府）</div>
          </div>
          <div class="lately-restaurant__item">
            <div class="lately-restaurant__name">にくや萬野（大阪府）</div>
          </div>
          <div class="lately-restaurant__item">
            <div class="lately-restaurant__name">にくや萬野（大阪府）</div>
          </div>
          <div class="lately-restaurant__item">
            <div class="lately-restaurant__name">にくや萬野（大阪府）</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-reviews__section4">
      <div class="reviews__title">
        <i class="fas fa-pencil-alt"></i>一覧レビュー
      </div>
      <div class="reviews__contents">
        <% @reviews.each do |review| %>
          <div class="review-content">
            <ul>
              <li>
                <%= link_to review_path(review) do%>
                  <div class="review-image"><%= image_tag "IMG_2620.JPG" %></div>
                  <div class="review-show">
                    <h3><%= review.restaurant.name %></h3>
                    <p class="review-subject"><%= review.title %></p>
                    <p class="review-date"><%= review.created_at.strftime('%Y.%m.%d') %></p>
                    <p class="review-name"><%= review.user.username %>
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                      </svg>
                    </p>
                    <div class="user-image">
                      <%= image_tag review.user.img.url, height: "60px", width: "60px"%>
                    </div>
                  </div>
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'shared/footer' %>