<%= render partial: 'shared/header' %>
<%= render partial: 'shared/nav' %>
<div class="inner review-inner">
  <div class="container">
    <div class="container-review__title">
      <i class="fas fa-file-alt"></i>Regyu詳細
    </div>
    <div class="container-review__content">
      <div class="review-head">
        <h2 class="review-title"><%= @review.title %>｜<%= @review.rate %>点</h2>
        <div id="star-rate-<%= @review.id %>" class="star-rate"></div>
        <div class="restaurant-name">
          <%= link_to @review.restaurant.name, restaurant_path(@review.restaurant) %>
        </div>
        <%= link_to user_path(@review.user_id) do%>
          <div class="user-name">
            <%= @review.user.username %>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
            </svg>
          </div>
          <div class="user-image">
            <% if @review.user.img.url.nil? %>
              <%= image_tag "no_image.png", height: "70px", width: "70px"%>
            <% else %>
              <%= image_tag @review.user.img.url, height: "70px", width: "70px"%>
            <% end %>
          </div>
        <% end %>
        <div class="review-date"><%= @review.created_at.strftime('%Y.%m.%d') %></div>
      </div>
      <div class="review-content">
        <div class="review-content__image">
          <% if @review.images[0].nil? %>
            <%= image_tag "no_image.png"%>
          <% else %>
            <%= image_tag @review.images[0].url %>
          <% end %>
        </div>
        <div class="review-content__text">
          <%= @review.body %>
        </div>
        <div class="review-sub__image">
          <% if @review.images[1].present? %>
            <div class="sub-image"><%= image_tag @review.images[1].url%></div>
          <% end %>
          <% if @review.images[2].present? %>
            <div class="sub-image"><%= image_tag @review.images[2].url%></div>
          <% end %>
          <% if @review.images[3].present? %>
            <div class="sub-image"><%= image_tag @review.images[3].url%></div>
          <% end %>
          <% if @review.images[4].present? %>
            <div class="sub-image"><%= image_tag @review.images[4].url%></div>
          <% end %>
        </div>
      </div>
      <div class="review-summary">
        <h2 class="review-summary__title">Regyuのまとめ</h2>
        <div class="review-summary__date">
          <ul class="date-items">
            <li class="item-title"><i class="fas fa-clock"></i>利用時間</li>
            <li>
              <span class="day-week"><%= @review.day_week %></span>
              <span>／</span>
              <span class="day-time"><%= @review.time %>〜</span>
            </li>
          </ul>
          <ul class="person-items">
            <li class="item-title"><i class="fas fa-users"></i>利用人数</li>
            <li>
              <span class="person-number"><%= @review.number_users %></span>
            </li>
          </ul>
        </div>
        <div class="review-menu__total-price">
          合計金額<span><%= @review.total_price %></span>円
        </div>
        <p>※合計金額は税込み表示です。</p>
      </div>
      <div class="review-link">
        <div class="review-link__restaurant">
        <%= link_to restaurant_path(@review.restaurant) do%>
          <button type="button" class="btn btn-warning"><i class="fas fa-store-alt"></i>店舗詳細を見る</button>
        </div>
        <% end %>
        <div class="review-link__profile">
        <%= link_to user_path(@review.user_id) do%>
          <button type="button" class="btn btn-info"><i class="fas fa-user"></i>Regyuした人のプロフィールを見る</button>
        <% end %>
        </div>
      </div>
      <div class="review-btn">
        <div class="review-btn__like">
          <button type="button" class="btn btn-secondary"><i class="fas fa-thumbs-up"></i>いいね<span>(0)</span></button>
        </div>
        <% if user_signed_in? && @review.user_id == current_user.id %>
        <div class="review-btn__edit">
          <button type="button" class="btn btn-primary"><i class="fas fa-edit"></i>編集</button>
        </div>
        <div class="review-btn__destroy">
          <button type="button" class="btn btn-danger"><i class="fas fa-trash"></i>削除</button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'shared/footer' %>

<script>
$('#star-rate-<%= @review.id %>').raty({
  size: 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  half: true,
  readOnly: true,
  score: <%= @review.rate %>,
});
</script>  